/* My Styles */

/* body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 100%;
    padding: 1em;
    max-width: 1280px;
    margin: 0 auto;
    
} */

.gallery {
    display: grid;
    grid-gap: .8em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 325px; */
 
    /* grid-auto-flow: column dense; */
    font-weight: 400;
}

figure {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background-color: #333;
    padding: 7px;
    margin: 3px;
}


.gallery img {
    display: inline-block;
    width: 100%;
    margin: auto;
    height: 100%;
    /* flex: 1; */
    opacity: .7;
    object-fit: cover;
    transition: all 300ms ease-out;
}

figure:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.two-span-row {
    grid-row: auto / span 2;
}

.two-span-column {
    grid-column: auto / span 2;
}

.full-span-column {
    grid-column: 1 / -1;
    grid-row: span 1;
}

@media (min-width: 1000px) {
    .full-span-column {
        grid-column: 1 / span 2;
        grid-row: span 1;
    } 
}

figcaption {
    text-align: right;
    margin-top: 3px;
    border-top: 1px solid rgba(255,255,255,.8);
    padding-top: 5px;
    color: rgba(255,255,255,.8);
}

@media (max-width: 550px) {
    .gallery {
    display: block;
  }
  
  figure {
    margin-bottom: 1em;
  }
  
  figcaption {
    font-size: .9em;  
  }
}








